.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}


/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../data/newpapaer_bg.jpg'); */
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}
#scatter {
  margin-left: 75px;
}

.article {
  margin-right: 10%;
  margin-left: 10%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #ffe7e783;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

@media screen and (max-width: 830px) {
  #scatter{
    margin-left: 30px;
  }
}


