.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}


/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../data/newpapaer_bg.jpg'); */
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: rgb(236, 229, 229);

}

.heading {
  background-color: rgb(226, 204, 178);
  opacity: 0.8;
}


#scatter {
  margin-left: 75px;
}

ol {
  text-align: center;
  list-style-position: inside;
}
ul {
  text-align: center;
  list-style-position: inside;
}

.smoking, .obesity {
  margin-top: 3rem;
}

.article {
  margin-right: 10%;
  margin-left: 10%;
  margin-top:20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: rgb(216, 193, 165);
}

#footer p {
  margin: 0;
  font-size: 16px;
}

@media screen and (max-width: 830px) {
  #scatter{
    margin-left: 10px;
  }
}


